@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.filterButton {
  display: flex;
  column-gap: 6px;
}

.buttonCont {
  border: none;
  font-size: 12px;
  font-weight: 400;
  color: #363636;
  border-radius: 6px;
  background-color: #e5e7eb;
}
.activeButton {
  color: #fff;
  background-color: #3c82f6;
}
