@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

body {
  width: 100vw;
  display: flex;
  padding-top: 140px;
  justify-content: center;
  background-color: #f3f4f6;
  font-family: "Inter", sans-serif;
}

.ContainerChild {
  width: 377px;
  display: flex;
  row-gap: 20px;
  padding-top: 24px;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.16);
}

.ChildInput {
  display: flex;
  column-gap: 6px;
}

.ChildText {
  width: 280px;
  height: 40px;
  padding-left: 10px;
  border-radius: 6px;
  border: 1px solid #e4e4e7;
}

.ChildText:focus {
  outline: none;
  border: 2px solid #3498db;
}

.ChildButton {
  width: 59px;
  height: 40px;
  border: none;
  font-size: 14px;
  font-weight: 400;
  color: #f9f9f9;
  border-radius: 6px;
  background-color: #3c82f6;
}

.ToDotext {
  font-weight: 600;
  font-size: 20px;
}

.FilterCont {
  display: flex;
  row-gap: 20px;
  flex-direction: column;
}

.Ptext {
  color: #6b7280;
  font-size: 14px;
  font-weight: 400;
}

.TaskInput {
  width: 345px;
  display: flex;
  padding: 16px;
  padding: 16px;
  column-gap: 10px;
  align-items: center;
  background-color: #f9fafb;
}

.checkBox {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.DeleteButton {
  border: none;
  height: 30px;
  font-size: 14px;
  color: #ef4444;
  margin-left: auto;
  border-radius: 6px;
  padding-inline: 12px;
  background-color: #fef2f2;
}

.clearContainer {
  width: 345px;
  display: flex;
  padding-top: 16px;
  justify-content: space-between;
  border-top: 1px solid #e5e7eb;
}

.clearText {
  font-size: 14px;
  color: #6b7280;
  font-weight: 500;
}

.cleadRed {
  border: none;
  font-size: 14px;
  color: #ef4444;
  background-color: transparent;
}

.footer {
  font-size: 12px;
  color: #6b7280;
  margin-bottom: 40px;
}

.pineCone {
  color: #3b73ed;
}
